#body {
    background-color: red;
}

#body2 {
    background-color: palegoldenrod;
}

#mainH1 {
    text-align: center;
}

#navBut {
    cursor: pointer;
}

#otherh1 {
    color: purple;
}
